.section-container{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 3px;
}

.first-three{
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    margin-left: 200px;
}

.next-three {

    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-right: 100px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #EADDFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #EADDFF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

span.name{
    width: 500px;
}

input.input1{
    border: 0px;
}

button.pencil{
    border: 0px;
}

button.toggle{
    border: 0px;
    background-color: white;
}

.dragabble.dragging{
    opacity: 0.5;
}